<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <p>{{first_name}} {{last_name}}</p> -->

  {% if my_list %}
    "List is not empty"
  {% endif %}

  <br><br>

  {% for num in my_list %}
    <li>{{num}}</li>
  {% endfor %}
  {{my_list.0}}

  <br><br>

  {{school | upper}}

  {# This is a comment #}


  {% comment %}
    This is a multiline comment
  {% endcomment %}

  <!-- This is also  a comment -->

  <br><br>

  {{dict1.keys}}

  <br><br>


</body>
</html>
